.pagination {
    margin-bottom: 20px;

    display: grid;
    grid-gap: 27px;
    grid-auto-flow: column;
    place-content: center;

    & button {
        font-size: 16px;
        padding: 0;
        border: none;
        background-color: #fff;
    }

    & > button {
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: #1c85e8;
    }

    & :global(div.pages) {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;

        & button {
            color: #6e6e6e;
            text-decoration: none;

            &:global(.active) {
                font-weight: bold;
                color: #222;
            }
        }
    }
}
